{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	{# <main> #}
	<h2>Connexion</h2>
	{% if app.user %}
		<div class="mb-3">
			<p class="description2">Vous êtes connecté(e) en tant que
				{{ app.user.userIdentifier }}.
			</p>
			<div class="buttoncenter">
				<a class="btn" id="colorchange" href="{{ path('app_logout') }}">Se déconnecter</a>
			</div>

		{% else %}

			<p>Première visite ? Créez votre<a href="{{ path('app_register') }}">compte.</a>
			</p>
			<div class="form2">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<button class="btn" type="submit">
						Se connecter
					</button>
				</form>
			</div>
			{# </main> #}
		{% endif %}
		<div class="description2" id="RGPD">
			<p>Le site s'engage à ne pas utiliser les données personnelles en accord avec la politique de la<a class="bio" target="_blank" href="https://www.cnil.fr/fr">RGPD.</a>
			</p>
		</div>
	{% endblock %}
