{% extends 'base.html.twig' %}

{% block title %}Technique index{% endblock %}

{% block body %}
    <h1>Technique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for technique in techniques %}
            <tr>
                <td>{{ technique.id }}</td>
                <td>{{ technique.name }}</td>
                <td>
                    <a href="{{ path('app_technique_show', {'id': technique.id}) }}">show</a>
                    <a href="{{ path('app_technique_edit', {'id': technique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_technique_new') }}">Create new</a>
{% endblock %}
