{{ form_start(form) }}
{{ form_row(form.name, {
            label: 'Nom de l\'oeuvre'
        }) }}
{{ form_row(form.publishedAt, {
            label: 'Date de publication'
        }) }}
{{ form_row(form.description, {
            label: 'Description'
        }) }}
{{ form_row(form.reference, {
            label: 'Référence'
        }) }}
{{ form_row(form.format, {
            label: 'Format (en cm)'
        }) }}
{{ form_row(form.pictureFile, {
            label: 'Image'
        }) }}
<label for="technique" id="tech">Technique</label>
<select class="form-control" name="{{ field_name(form.technique) }}" required>
    <option value="">--Choisissez une technique--</option>

    {% for label, value in field_choices(form.technique) %}
        <option value="{{ value }}">{{ label }}</option>
    {% endfor %}
</select>
<label for="artist" id="artist">Artiste</label>
<select class="form-control" name="{{ field_name(form.artist) }}" required>
    <option value="">--Choisissez un artiste--</option>

    {% for label, value in field_choices(form.artist) %}
        <option value="{{ value }}">{{ label }}</option>
    {% endfor %}
</select>
<button class="btn btn-lg">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
