{% extends 'base.html.twig' %}

{% block title %}Work
{% endblock %}

{% block body %}

	<div class="work">
		<div class="first">
			<div class="square2">
				<figure
					class="zoom">
					{# <img src="{{ asset('../build/images/' ~ work.picture) }}" class="img-thumbnail grayscale picture"> #}
					<img src="{{ vich_uploader_asset(work) }}" class="img-thumbnail grayscale picture">
				</div>
			</div>
			<div class="second">
				<div class="detail">
					<h2>{{ work.name }}</h2>
					<p>Date de réalisation -
						{{ work.publishedAt }}
					</p>
					<p>Référence -
						{{ work.reference }}
					</p>
					<p>Format -
						{{ work.format }}
					</p>
				</div>
			</div>
		</div>
		<div class="description">
			<p>{{ work.description }}</p>
		</div>
	</div>

	<div class="twobuttons">
		<div>
			<a button type="button" class="btn btn-lg" href="{{ path('app_work_edit', {'id': work.id}) }}">Modifier une oeuvre<a/>
			</div>

			<div>
				{{ include('work/_delete_form.html.twig', {'button_label': 'Supprimer une oeuvre'}) }}
			</div>
		</div>

		<div>
			<a button type="button" class="btn btn-lg" href="{{ path('app_work_index') }}">Retour à la galerie</a>
		</div>
	{% endblock %}
